In [14]:
import csv
import pandas as pd
import random
import numpy as np

In [34]:
df = pd.read_csv(r'train.csv')
df = df.dropna()

In [42]:
adversarial_examples = []
labels = []
for index, row in df.iterrows():
    if index % 2 == 0:
        adversarial_examples.append(row['text'])
        labels.append(row['sentiment'])
        continue
    text = row['text']
    if isinstance(text, float):
        print(text)
    text_tokens = text.split(' ')
    text_len = len(text_tokens)
    # we will swap the words at index swap_index and swap_index-1
    if (text_len >= 2):
        swap_index = random.randint(1, text_len-1)
        tmp = text_tokens[swap_index-1]
        text_tokens[swap_index-1] = text_tokens[swap_index]
        text_tokens[swap_index] = tmp
        new_text = " ".join(text_tokens)
        adversarial_examples.append(new_text)
        labels.append(row['sentiment'])

In [43]:
d = {"text": adversarial_examples, "sentiment": labels}
f2 = pd.DataFrame(d)

In [44]:
f2.head()

                                                text sentiment
0                I`d have responded, if I were going   neutral
1      SAD Sooo I will miss you here in San Diego!!!  negative
2                          my boss is bullying me...  negative
3                     what interview! me leave alone  negative
4   Sons of ****, why couldn`t they put them on t...  negative

In [45]:
f2

                                                    text sentiment
0                    I`d have responded, if I were going   neutral
1          SAD Sooo I will miss you here in San Diego!!!  negative
2                              my boss is bullying me...  negative
3                         what interview! me leave alone  negative
4       Sons of ****, why couldn`t they put them on t...  negative
...                                                  ...       ...
27441   wish we could come see u on Denver  husband l...  negative
27442   I`ve wondered about rake to.  The client has ...  negative
27443   Yay good for both of you. Enjoy the break - y...  positive
27444                         But was it worth it  ****.  positive
27445     All this flirting going on - The ATG smiles...   neutral

[27446 rows x 2 columns]

In [46]:
f2.to_csv('adversarial_swap_train.csv')